/*#header {
	width: 960px !important;
}
/*#footer {
	padding-left: 80px !important;
}*/

.jcarousel-skin-tango {

	margin-left: 45px;
}

/*#myslidemenu {

	margin-right:35px;
}
*/
/*#footer .footerbox.last {
	margin: 0 200px!important 0 0px;
	float: left!important;
	position: relative;
	left: 190px;
	
	}

/*.wrapper .col-14 {  width:230px!important;
}

.wrapper .first {
    margin-left: 20!important;
    padding-left: 40!important;
    width: 300px!important;
    }

/*#myslidemenu { width: 530px!important;
 }*/

/*.wrapper .col-24 { width: 200px!important; }



#footer {
	padding-left: 160px!important;
}
*/
.horizontal {margin-top: 40px;}
.wrapper {
        width: 1140px !important;
}